<div class="col text-white mr-lg-3">
    <div class="row mb-4">
        <div class="col bg-accent mr-1">item</div>
        <div class="col bg-accent mr-1">item</div>
        <div class="col bg-accent">item</div>
    </div>
    <div class="row mb-4">
        <div class="col bg-accent mr-1 h-100">item</div>
        <div class="col bg-accent mr-1">item</div>
        <div class="col bg-accent">item</div>
    </div>
    <div class="row">
        <div class="col bg-accent mr-1">item</div>
        <div class="col bg-accent mr-1">item</div>
        <div class="col bg-accent">item</div>
    </div>
</div>