<div class="row w-lg-50 d-flex flex-column justify-content-around">
  <div *ngFor="let item of items" class="col-12 col-lg-4 shadow mb-2">
    <div>
      <div class="row align-items-center mt-2">
        <div class="col-4">
          <div
            class="position-relative bg-primary rounded d-flex align-items-center"
            style="padding: 1px;"
          >
            <img
              class="rounded img-fluid"
              alt="{{ item.name }}"
              src="{{ item.image }}"
            />
            <h3 style="transform: translate(100%, 33%);">
              <strong>{{ selectedValue[item.shortName] }}</strong>
            </h3>
          </div>
        </div>
        <div class="col-8">
          <mat-slider
            min="0"
            max="6"
            step="1"
            thumbLabel
            tickInterval="1"
            value="selectedValue[item.shortName]"
            (change)="updateSetting($event, item.shortName)"
          ></mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>
