@import '~@angular/material/theming';

$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$tft-app-primary: mat-palette($mat-light-green, A200);
$tft-app-accent:  mat-palette($mat-grey, 900);
$tft-app-warn:    mat-palette($mat-deep-orange, 900);

$primary: mat-color($tft-app-primary);
$accent: mat-color($tft-app-accent);
$warn: mat-color($tft-app-warn);

.bg-primary {
    background-color: $primary;
}

.bg-accent {
    background-color: $accent;
}

.bg-warn {
    background-color: $warn;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.text-primary {
    color: $primary;
}

.text-accent {
    color: $accent;
}

.text-warn {
    color: $warn;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}
